<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>Travel-project</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='css/bootstrap.min.css') }}"/>
</head>
<body>

<div class="d-flex flex-column align-items-center justify-content-center vh-100">
    <h1>Log In</h1>
    <form method="post" action="/web/login" style="...">

        <div>
        <label for="name">Username</label>
        <input id="name" type="text" name="username" placeholder="Input your name...">
        </div>

        <div>
        <label for="pass">Password</label>
        <input id="pass" type="password" name="password" placeholder="Input your password...">
        </div>

        <div class="text-center mb-3">
            <button type="submit" class="btn btn-primary fw-bold">Submit</button>
        </div>
    </form>
</div>
{% if error %}
    <p class="text-warning">{{ error }}</p>
{% endif %}

{% if validation_error %}
    {% for error in validation_error %}
        <p class="text-warning">{{ error['msg'] }}</p>
    {% endfor %}
{% endif %}
</body>
</html>