<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>Travel-project</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='css/bootstrap.min.css') }}"/>
</head>
<body>
<div class="container mt-5">
    <div class="table-responsive">
        <table class="table table-dark table-hover table-bordered align-middle shadow">
            <thead>Projects</thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>description</th>
                <th>start_date</th>
                <th>is_completed</th>
                <th>update</th>
                <th>delete</th>
                <th>Ask AI</th>
            </tr>
            <tbody>
            {% for project in projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td><a href="/web/projects/{{ project.id }}"
                       class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                    {{ project.name }}</a></td>
                <td>{{ project.description }}</td>
                <td>{{ project.start_date }}</td>
                <td>{{ project.is_completed }}</td>
                <td>
                    <a href="/web/projects/{{ project.id }}/update"
                       class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Update</a>
                </td>
                <td>
                    <form method="post" action="/web/projects/{{ project.id }}/delete" style="...">
                        <button type="submit" class="btn btn-danger fw-bold">Delete</button>
                    </form>
                </td>
                <td>
                    <a href="/web/projects/{{ project.id }}/ai_suggestions"
                       class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Ask AI</a>
                </td>
            </tr>
            {% else %}
                <td>No projects yet</td>
            {% endfor%}
            </tbody>
        </table>
    </div>
</div>


 <a href="/web/projects/create" class="btn btn-primary fw-bold">Create project</a>

<form method="post" action="/web/logout" style="...">
    <div>
        <button type="submit" class="btn btn-danger fw-bold">Log Out</button>
    </div>
</form>

<div>
    <a href="/" class="btn btn-success fw-bold">Home</a>
</div>

{% if error %}
    <p class="text-warning">{{ error }}</p>
{% endif %}
</body>
</html>