<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>Travel-project</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='css/bootstrap.min.css') }}"/>
</head>
<body>

<div>
    <a href="/web/signup" class="btn btn-primary fw-bold">Sign Up</a>
</div>

{% if user_in_session %}
    <p class="text-success">{{ user_in_session }}</p>
    <form method="post" action="/web/logout">
        <button type="submit" class="btn btn-danger fw-bold">Log Out</button>
    </form>
{% else %}
<div>
    <a href="/web/login" class="btn btn-info fw-bold">Log In</a>
</div>
{% endif %}
</body>
</html>